@import "../../styles/variables.scss";

.headerContainer {
  background-color: #f9f9f9;
  @include flex(space-evenly);
  height: 40px;
  padding: 40px 0;
}

.minicartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  gap: 16px;
}
