@import "../../../styles/variables.scss";

.productDetails {
  @include flex(center, flex-start);
  flex-direction: column;
  width: 100%;
  max-width: 496px;

  @include mq(lg, max) {
    max-width: 90%;
    margin: 0 auto;
  }
}

.productName {
  color: #505050;
  font-family: $font-lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  margin-bottom: 48px;
}

.priceContainer {
  @include flex(center, baseline);
  margin: 32px 0;
  gap: 10px;
}

.buyButton {
  @include centered-flex();
  max-height: 56px;
  padding: 16px 24px;
  background-color: #231f20;
  border-radius: 2px;
  gap: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 32px;
  transition: background-color 0.3s;

  span {
    color: #ffffff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: $font-montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  @include mq(lg, max) {
    width: 100%;
  }

  &:hover {
    background-color: #444041;
  }
}
